
body { 
    
    font-family: 'Roboto', sans-serif;
    color: black}

.webstudio { font-family: 'Raleway', sans-serif; 
font-style: normal;
font-weight: 700; font-size: 26px;
line-height: 1.19;
}

.logo { color: rgba(33, 150, 243, 1);}
.logo2 {color: rgba(0, 0 ,0 ,1)}
.contact { color: rgba(117, 117, 117, 1);
    text-decoration: none;}
.header .link { font-style: normal;
        font-weight:500; font-size: 14px; line-height: 1.14;
        color: rgba(33, 33, 33, 1);}

footer {background-color: rgba(47, 48, 58, 1);}
  
.sekcja1 {background-color: 
          rgba(47, 48, 58, 1);}
         
h1 { color: rgba(255, 255, 255, 1);
          font-style: normal; font-size: 44px; font-weight: 900; line-height: 1.36;  }
          
.zamow { 
              background-color: rgba(33, 150, 243, 1);
              color: rgba(255, 255, 255, 1); font-family: inherit;
          border: none; font-style: normal;
          font-weight: 700; font-size: 16px; line-height: 1.88; cursor: pointer;}
          
.lorem { color:rgba(33, 33, 33, 1);
              font-style: normal; font-size: 14px; font-weight: 700; line-height: 1.36;  }
      
p { color:
              rgba(117, 117, 117, 1);
              font-style: normal; font-size: 14px; font-weight: 400; line-height: 1.71;}
      
.opis { color:rgba(33, 33, 33, 1);
                  font-style: normal; font-size: 36px; font-weight: 700; line-height: 1.16;  }
      
.sekcja2 {background-color:rgba(245, 244, 250, 1)}
      
.nazwisko { color:rgba(33, 33, 33, 1);
              font-style: normal; font-size: 16px; font-weight: 500; line-height: 1.17;  }
      
.stanowisko { color:rgba(117, 117, 117, 1);
              font-style: normal; font-size: 16px; font-weight: 400; line-height: 1.17;  }
      
    
.button { background-color: rgba(245, 244, 250, 1);
        color:  rgba(33, 33, 33, 1);
    border: none; font-family: inherit;
    font-style: normal;
    font-weight: 500; font-size: 16px; line-height: 1.63; cursor: pointer;}
    
.portfolio { font-style: normal;
        font-weight: 700; font-size: 18px; line-height: 2;}
    
.typ { font-style: normal;
            font-weight: 400; font-size: 16px; line-height: 1.86; }
    
.adress { font-style: normal;
        font-weight: 400; font-size: 14px; line-height: 1.71;
    color: rgba(255, 255, 255, 1); }
    
.kontakt_stopka {font-style: normal;
        font-weight: 400; font-size: 14px; line-height: 1.86;
    color: rgba(255, 255, 255, 0.6); }

.logo:active, .logo2:active { color: #2196F3;}
.logo:hover, .logo2:hover, .logo:focus, .logo2:focus { color: #2196F3;}

.header .link:active { color: #2196F3;}
.header .link:hover, .header .link:focus { color:#2196F3;}

.header .contact:active {color: #2196F3;}
.header .contact:focus, .header .contact:hover {color: #2196F3;}

.adress:active, .adress:hover, .adress:focus { color:#2196F3;}

.kontakt_stopka:active {color: #2196F3;}
.kontakt_stopka:hover, .kontakt_stopka:focus {color: #2196F3;}

.buton:active {color: #FFFFFF; background-color: #2196F3;}
.button:hover, .button:focus {color: #FFFFFF;
    background-color: #2196F3;}

.zamow:active {color: #2196F3;}
.zamow:focus, .zamow:hover {color: #2196F3;}

ul {list-style-type: none;}

a:link {
    text-decoration: none;}
 
a:link .contact {
    text-decoration: none;}

  a:visited { 
    text-decoration: none;}

  a:active { 
    text-decoration: none;}

  