:root {
    --black-main:rgba(33, 33, 33, 1);
    --logo-black: rgba(0, 0 ,0 ,1);
    --main-blue: rgba(33, 150, 243, 1);
    --background-grey: rgba(47, 48, 58, 1);
    --main-white: rgba(255, 255, 255, 1);
    --background-white: rgba(245, 244, 250, 1);
    --main-silver: rgba(117, 117, 117, 1);
    --font-footer: rgba(255, 255, 255, 0.6);
  }
  body {
    font-family: "Roboto", sans-serif;
    color: var(--black-main);
  }


.webstudio { font-family: 'Raleway', sans-serif; 
font-style: normal;
font-weight: 700; font-size: 26px;
line-height: 1.19;
}

.logo { color: var(--main-blue);}
.logo2 {color: var(--logo-black);}
.logo3 {color: var(--main-white);}
.contact { color:  var(--main-silver);
    text-decoration: none;}
.header .link { font-style: normal;
        font-weight:500; font-size: 14px; line-height: 1.14;
        color: var(--black-main);}

footer {background-color: var(--background-grey);}
  
.section1 {background-color: 
          var(--background-grey);}
         
h1 { color: var(--main-white);
          font-style: normal; font-size: 44px; font-weight: 900; line-height: 1.36;  }
          
.order { 
              background-color: var(--main-blue);
              color: var(--main-white); font-family: inherit;
          border: none; font-style: normal;
          font-weight: 700; font-size: 16px; line-height: 1.88; cursor: pointer;
          border-radius: 4px;}
          
.lorem { color:var(--black-main);
              font-style: normal; font-size: 14px; font-weight: 700; line-height: 1.36;  }
      
p { color:
               var(--main-silver);
              font-style: normal; font-size: 14px; font-weight: 400; line-height: 1.71;}
      
.title { color:var(--black-main);
                  font-style: normal; font-size: 36px; font-weight: 700; line-height: 1.16;  }
      
.section2 {background-color: var(--background-white)}
      
.name { color:var(--black-main);
              font-style: normal; font-size: 16px; font-weight: 500; line-height: 1.17;  }
      
.profession { color: var(--main-silver);
              font-style: normal; font-size: 16px; font-weight: 400; line-height: 1.17;  }
      
    
.button { background-color: var(--background-white);
        color:  var(--black-main);
    border: none; font-family: inherit;
    font-style: normal;
    font-weight: 500; font-size: 16px; line-height: 1.63; cursor: pointer;
    border-radius: 4px;
    
}
    
.portfolio { font-style: normal;
        font-weight: 700; font-size: 18px; line-height: 2;}
    
.type { font-style: normal;
            font-weight: 400; font-size: 16px; line-height: 1.86; }
    
.adress { font-style: normal;
        font-weight: 400; font-size: 14px; line-height: 1.71;
    color: var(--main-white); }
    
.contact_footer {font-style: normal;
        font-weight: 400; font-size: 14px; line-height: 1.86;
    color: var(--font-footer); }

.logo:active, .logo2:active , .logo3:active { color: var(--main-blue);}
.logo:hover, .logo2:hover, .logo3:hover, .logo:focus, .logo2:focus, .logo3:focus { color: var(--main-blue);}

.header .link:active { color: var(--main-blue);}
.header .link:hover, .header .link:focus { color:var(--main-blue);}

.header .contact:active {color: var(--main-blue);}
.header .contact:focus, .header .contact:hover {color: var(--main-blue);}

.adress:active, .adress:hover, .adress:focus { color:var(--main-blue);}

.contact_footer:active {color: var(--main-blue);}
.contact_footer:hover, .contact_footer:focus {color: var(--main-blue);}

.buton:active {color: var(--main-white); background-color: var(--main-blue);}
.button:hover, .button:focus {color: var(--main-white);
    background-color: var(--main-blue);}

.order:active {color: var(--main-blue);}
/*.order:focus, .order:hover {cursor: pointer;}*/

ul {list-style-type: none;}

a:link {
    text-decoration: none;}
 
a:link .contact {
    text-decoration: none;}

  a:visited { 
    text-decoration: none;}

  a:active { 
    text-decoration: none;}

  